<div style="height: 100%;">
  <div style="display: flex; justify-content: center; padding: 32px;">
    <h5>{{ 'LANGUAGE' | translate }}: {{ locale }}</h5>
  </div>
  <div class="container" style="height: 100%;">
    <div class="row" *ngFor="let translation of translations">
      <div class="col-3 col-md-4 col-xl-5 text-right">
        {{ translation.key }}
      </div>
      <div class="col-7 col-md-6 col-xl-5">
        {{ translation.translation }}
      </div>
      <div class="col-2 text-center" style="color: red; font-weight: bold; cursor: pointer;"
        (click)="deleteTranslation(translation)">
        X
      </div>
    </div>
    <div class="row" style="max-height: 55px;">
      <div class="form-group col-3 col-md-4 col-xl-5 text-right">
        <input mdbInput type="text" class="form-control" id="key" placeholder="KEY" [(ngModel)]="new.key">
      </div>
      <div class="form-group col-7 col-md-6 col-xl-5">
        <input mdbInput type="text" class="form-control" id="value" placeholder="Value" [(ngModel)]="new.translation">
      </div>
      <div class="col-2" style="display: flex; justify-content: center;">
        <button type="button" mdbBtn color="primary" mdbWavesEffect
                (click)="addTranslation()"
                [disabled]="new.key === '' || new.translation === ''">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
